<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="og:url" content="https://insidiae.github.io" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="KB Ruado (@Insidiae)" />
		<meta
			property="og:description"
			content="KB Ruado (@Insidiae) — Online course enthusiast"
		/>
		<meta
			property="og:image"
			content="https://avatars.githubusercontent.com/u/28495550"
		/>
		<meta property="og:image:alt" content="KB Ruado's Github Profile image" />
		<meta property="og:image:type" content="image/jpg" />
		<meta property="og:image:width" content="128" />
		<meta property="og:image:height" content="128" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="KB Ruado (@Insidiae)" />
		<meta
			name="twitter:image"
			content="https://avatars.githubusercontent.com/u/28495550"
		/>
		<meta name="twitter:image:alt" content="KB Ruado's Github profile image" />
		<meta
			name="twitter:description"
			content="KB Ruado (@Insidiae) — Online course enthusiast"
		/>

		<link rel="stylesheet" href="styles.css" />

		<script src="nav.js" defer></script>

		<title>KB Ruado (@Insidiae)</title>
	</head>
	<body>
		<header class="header">
			<div class="profile">
				<a
					id="profile-link"
					class="profile__link"
					href="https://github.com/Insidiae/"
					target="_blank"
					rel="noopener noreferrer"
				>
					<span class="visually-hidden">Visit KB Ruado's Github Profile</span>
					<img
						src="https://avatars.githubusercontent.com/u/28495550"
						alt="KB Ruado's Github Profile Picture"
						class="profile__picture"
					/>
					<span class="profile__name"> KB Ruado (@Insidiae) </span>
				</a>
			</div>

			<button
				class="header__nav-toggle"
				aria-controls="primary-navigation"
				aria-expanded="false"
			>
				<span class="visually-hidden">Menu</span>
			</button>

			<nav id="navbar">
				<ul id="primary-navigation" class="header__nav" data-visible="false">
					<li>
						<a href="#" class="header__nav__link">
							<span aria-hidden="true">00</span> Home
						</a>
					</li>
					<li>
						<a href="#skills" class="header__nav__link">
							<span aria-hidden="true">01</span> Skills
						</a>
					</li>
					<li>
						<a href="projects.html" class="header__nav__link">
							<span aria-hidden="true">02</span> Projects
						</a>
					</li>
					<li>
						<a href="#contact" class="header__nav__link">
							<span aria-hidden="true">03</span> Contact
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<section id="welcome-section" class="section-hero">
				<div class="hero">
					<div class="hero__text-box">
						<h1 class="heading-primary">Hello There.</h1>
						<p class="hero__description">
							I'm an online course enthusiast working to improve my skills and
							level up my career, currently exploring a bunch of technologies to
							use for my university thesis next year. In my free time I binge
							online courses and build lots of fun and interesting projects.
						</p>
					</div>

					<div class="hero__img-box">
						<img
							src="portfolio-assets/img/hero-img.png"
							alt=""
							class="hero__img"
						/>
					</div>
				</div>
			</section>

			<section id="skills" class="section-skills">
				<div class="u-center-text u-margin-bottom--md">
					<h2 class="heading-secondary">Languages and Tools</h2>
				</div>

				<div class="card-list">
					<article class="skill">
						<div class="skill__heading">
							<span class="skill__icon-wrapper">
								<ion-icon class="skill__icon" name="rocket-sharp"></ion-icon>
							</span>
							<h3 class="heading__tertiary">I specialize in</h3>
						</div>
						<div class="skill__list">
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
								title="HTML"
								alt="HTML"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
								title="CSS"
								alt="CSS"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
								title="Javascript"
								alt="Javascript"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
								title="TypeScript"
								alt="TypeScript"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
								title="Sass"
								alt="Sass"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
								title="MongoDB"
								alt="MongoDB"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
								title="Express"
								alt="Express"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
								title="React"
								alt="React"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"
								title="Node.js"
								alt="Node.js"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/d3js/d3js-original.svg"
								title="D3"
								alt="D3"
								width="40"
								height="40"
							/>
						</div>
					</article>

					<article class="skill">
						<div class="skill__heading">
							<span class="skill__icon-wrapper">
								<ion-icon class="skill__icon" name="thumbs-up-sharp"></ion-icon>
							</span>
							<h3 class="heading__tertiary">I also do</h3>
						</div>
						<div class="skill__list">
							<img
								loading="lazy"
								src="https://raw.githubusercontent.com/bestofjs/bestofjs-webui/master/public/logos/remix.svg"
								title="Remix"
								alt="Remix"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg"
								title="Redux"
								alt="Redux"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"
								title="NestJS"
								alt="NestJS"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://raw.githubusercontent.com/bestofjs/bestofjs-webui/master/public/logos/astro.svg"
								title="Astro"
								alt="Astro"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg"
								title="Jest"
								alt="Jest"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://api.iconify.design/logos:testing-library.svg?color=%23888888"
								title="Testing Library"
								alt="Testing Library"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg"
								title="Firebase"
								alt="Firebase"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
								title="Python"
								alt="Python"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jupyter/jupyter-original-wordmark.svg"
								title="Jupyter Notebook"
								alt="Jupyter Notebook"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg"
								title="NumPy"
								alt="NumPy"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
								title="Pandas"
								alt="Pandas"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://upload.wikimedia.org/wikipedia/commons/0/01/Created_with_Matplotlib-logo.svg"
								title="Matplotlib"
								alt="Matplotlib"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
								title="Scikit-learn"
								alt="Scikit-learn"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg"
								title="Tensorflow"
								alt="Tensorflow"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
								title="Tailwind"
								alt="Tailwind"
								width="40"
								height="40"
							/>
						</div>
					</article>

					<article class="skill">
						<div class="skill__heading">
							<span class="skill__icon-wrapper">
								<ion-icon class="skill__icon" name="book-sharp"></ion-icon>
							</span>
							<h3 class="heading__tertiary">I'm currently learning</h3>
						</div>
						<div class="skill__list">
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg"
								title="Rust"
								alt="Rust"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original.svg"
								title="PyTorch"
								alt="PyTorch"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain.svg"
								title="GraphQL"
								alt="GraphQL"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/embeddedc/embeddedc-original.svg"
								title="Embedded C"
								alt="Embedded C"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"
								title="C++"
								alt="C++"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg"
								title="Arduino"
								alt="Arduino"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/raspberrypi/raspberrypi-original.svg"
								title="Raspberry PI"
								alt="Raspberry PI"
								width="40"
								height="40"
							/>
						</div>
					</article>

					<article class="skill">
						<div class="skill__heading">
							<span class="skill__icon-wrapper">
								<ion-icon class="skill__icon" name="bulb-sharp"></ion-icon>
							</span>
							<h3 class="heading__tertiary">I'm interested in</h3>
						</div>
						<div class="skill__list">
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/threejs/threejs-original.svg"
								title="Three.js"
								alt="Three.js"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
								title="Vue.js"
								alt="Vue.js"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg"
								title="Svelte"
								alt="Svelte"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
								title="Angular"
								alt="Angular"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
								title="Next.js"
								alt="Next.js"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/storybook/storybook-original.svg"
								title="Storybook"
								alt="Storybook"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
								title="PostgreSQL"
								alt="PostgreSQL"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"
								title="C#"
								alt="C#"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg"
								title="Unity"
								alt="Unity"
								width="40"
								height="40"
							/>
							<img
								loading="lazy"
								src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg"
								title="R"
								alt="R"
								width="40"
								height="40"
							/>
						</div>
					</article>
				</div>
			</section>

			<section id="projects" class="section-projects">
				<div class="u-center-text u-margin-bottom--md">
					<h2 class="heading-secondary">Featured Projects</h2>
				</div>

				<div class="projects card-list">
					<article class="project project-tile">
						<div class="project__img-box">
							<img
								loading="lazy"
								src="https://kentcdodds.com/images/epicreact-promo/er-1.gif"
								alt="Promo image from the Epic React course"
								class="project__img"
							/>
						</div>
						<div class="project__details">
							<h3 class="project__title">Epic React Checkpoints</h3>
							<div class="project__tags">
								<span class="tag tag--react">React</span>
								<span class="tag tag--javascript">JS</span>
								<span class="tag tag--typescript">TS</span>
							</div>
							<p class="project__description">
								Notes and Code as I go along with Kent C. Dodds'
								<a
									href="https://epicreact.dev/"
									target="_blank"
									rel="noopener noreferrer"
									>Epic React</a
								>
								course.
							</p>
							<div class="project__link">
								<a
									href="https://github.com/Insidiae/epic-react-checkpoints"
									class="btn"
									target="_blank"
									rel="noopener noreferrer"
								>
									View Exercises
								</a>
							</div>
						</div>
					</article>

					<article class="project project-tile">
						<div class="project__img-box">
							<img
								loading="lazy"
								src="portfolio-assets/img/fullstack-d3-cover.png"
								alt="Cover image of the Fullstack D3 book"
								style="object-position: top"
								class="project__img"
							/>
						</div>
						<div class="project__details">
							<h3 class="project__title">Fullstack D3: React Edition</h3>
							<div class="project__tags">
								<span class="tag tag--d3">D3</span>
								<span class="tag tag--react">React</span>
								<span class="tag tag--typescript">TS</span>
							</div>
							<p class="project__description">
								Course exercises and projects from the
								<a
									href="https://www.newline.co/fullstack-d3"
									target="_blank"
									rel="noopener noreferrer"
									>Fullstack D3 and Data Visualization book</a
								>, remade using React + D3 + TypeScript.
							</p>
							<div class="project__link">
								<a
									href="https://github.com/Insidiae/fullstack-d3-react"
									class="btn"
									target="_blank"
									rel="noopener noreferrer"
								>
									View Exercises
								</a>
							</div>
						</div>
					</article>

					<article class="project project-tile">
						<div class="project__img-box">
							<img
								loading="lazy"
								src="portfolio-assets/img/wdbc.jpg"
								alt="(New) Thumbnail image from The Advanced Web Developer Bootcamp's Udemy page"
								class="project__img"
							/>
						</div>
						<div class="project__details">
							<h3 class="project__title">YelpCamp (MERN Remake)</h3>
							<div class="project__tags">
								<span class="tag tag--mongodb">MongoDB</span>
								<span class="tag tag--express">Express</span>
								<span class="tag tag--react">React</span>
								<span class="tag tag--node">Node</span>
							</div>
							<p class="project__description">
								With the re-release of
								<a
									href="https://www.udemy.com/course/the-web-developer-bootcamp/"
									target="_blank"
									rel="noopener noreferrer"
									>The Web Developer Bootcamp</a
								>, I decided to remake the final course project using React (and
								Tailwind) instead of EJS to display the frontend.
							</p>
							<div class="project__link">
								<a
									href="https://github.com/Insidiae/yelpcamp-mern"
									class="btn"
									target="_blank"
									rel="noopener noreferrer"
								>
									View Project
								</a>
							</div>
						</div>
					</article>

					<article class="project project-tile">
						<div class="project__img-box">
							<img
								loading="lazy"
								src="portfolio-assets/img/js-algos-and-data-structs.jpg"
								alt="Thumbnail image from the JavaScript Algorithms and Data Structures Masterclass Udemy page"
								class="project__img"
							/>
						</div>
						<div class="project__details">
							<h3 class="project__title">
								JavaScript Algorithms and Data Structures
							</h3>
							<div class="project__tags">
								<span class="tag tag--javascript">JS</span>
							</div>
							<p class="project__description">
								Course exercises and notes from Colt Steele's
								<a
									href="https://www.udemy.com/course/js-algorithms-and-data-structures-masterclass/"
									target="_blank"
									rel="noopener noreferrer"
									>JavaScript Algorithms and Data Structures Masterclass</a
								>
								course. Also features course exercises from the
								<a
									href="https://zerotomastery.io/courses/faang-interview-prep/"
									target="_blank"
									rel="noopener noreferrer"
									>ZTM Big Tech (FAANG) Interviews</a
								>
								course.
							</p>
							<div class="project__link">
								<a
									href="https://github.com/Insidiae/js-algos-and-data-structs"
									class="btn"
									target="_blank"
									rel="noopener noreferrer"
								>
									View Exercises
								</a>
							</div>
						</div>
					</article>

					<article class="project project-tile">
						<div class="project__img-box">
							<img
								loading="lazy"
								src="portfolio-assets/img/wdbc-alt.jpg"
								alt="Alternate Thumbnail image from The Advanced Web Developer Bootcamp's Udemy page"
								class="project__img"
							/>
						</div>
						<div class="project__details">
							<h3 class="project__title">Warbler: 2022 Edition</h3>
							<div class="project__tags">
								<span class="tag tag--typescript">TS</span>
								<span class="tag tag--nestjs">NestJS</span>
								<span class="tag tag--react">React</span>
								<span class="tag tag--redux">RTK Query</span>
							</div>
							<p class="project__description">
								I completely rewrote
								<a
									href="https://www.udemy.com/course/the-advanced-web-developer-bootcamp/"
									target="_blank"
									rel="noopener noreferrer"
									>The Advanced Web Developer Bootcamp</a
								>&apos;s final project, updating the project&apos;s tech stack
								to use modern tools and technologies in 2022.
							</p>
							<div class="project__link">
								<a
									href="https://github.com/Insidiae/warbler-2022"
									class="btn"
									target="_blank"
									rel="noopener noreferrer"
								>
									View Project
								</a>
							</div>
						</div>
					</article>
				</div>

				<div class="u-center-text u-margin-top--lg u-margin-bottom--md">
					<a href="projects.html" class="btn btn--large"
						>View More Projects &rarr;</a
					>
				</div>
			</section>

			<section id="contact" class="section-contact">
				<div class="u-center-text u-margin-bottom--md">
					<h2 class="heading-secondary">My Social Media Links</h2>
				</div>

				<div class="contact-list">
					<a
						class="contact"
						href="https://github.com/Insidiae/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<span class="visually-hidden">
							Visit KB Ruado's Github profile
						</span>
						<ion-icon name="logo-github" class="contact__icon"></ion-icon>
					</a>

					<a
						class="contact"
						href="https://www.linkedin.com/in/insidiae423/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<span class="visually-hidden">
							Visit KB Ruado's Linkedin profile
						</span>
						<ion-icon name="logo-linkedin" class="contact__icon"></ion-icon>
					</a>

					<a
						class="contact"
						href="https://twitter.com/insidiae423"
						target="_blank"
						rel="noopener noreferrer"
					>
						<span class="visually-hidden">
							Visit KB Ruado's Twitter profile
						</span>
						<ion-icon name="logo-twitter" class="contact__icon"></ion-icon>
					</a>

					<a
						class="contact"
						href="https://www.facebook.com/Insidiae423/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<span class="visually-hidden">
							Visit KB Ruado's Facebook profile
						</span>
						<ion-icon name="logo-facebook" class="contact__icon"></ion-icon>
					</a>

					<a
						class="contact"
						href="mailto:ruado.kb@gmail.com"
						target="_blank"
						rel="noopener noreferrer"
					>
						<span class="visually-hidden"> Send an email to KB Ruado </span>
						<ion-icon name="mail-sharp" class="contact__icon"></ion-icon>
					</a>
				</div>
			</section>
		</main>

		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>
		<!-- * OPTIONAL: Run freeCodeCamp tests for the Portfolio project -->
		<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
	</body>
</html>
